<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<style>
body{
    background-color: #1f422e;
    font-family: sans-serif;
}

    h1{
        margin-top: 18%;
        margin-left: 13%;
        text-decoration: underline;
        font-size: 52px;
        color: rgb(255, 255, 255);
        cursor: pointer;
    }
    h1:hover{
        color: #2e8b57;
        cursor: pointer;
    }
</style>

    
<h1>Dil say shukriya apka karnay kae liyae.</h1>


</body>
</html>